/*********************************************
 * HEADERS
 *********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25em;
}

.reveal h1 {
  background: rgb(87, 181, 214);
  color: white;
  padding: 0 .125em;
  line-height: 1.5em;
  display: inline;
}

.reveal h2 {
  color: rgb(87, 181, 214);
}

.reveal h3 {
  color: white;
  text-align: left;
  display: block;
  font-weight: normal;
}

.reveal li.sectiontitle {
  text-transform: uppercase;
  font-weight: bold;
}

.reveal p, .reveal ul, .reveal ol, .reveal div {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}

.reveal code {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: rgb(158, 202, 105);
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: rgb(78, 52, 108);
  text-shadow: none;
  border: none; }


/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px;
}

.reveal a:hover img {}


/*********************************************
 * SECTION DIVISIONS
 *********************************************/

.group {
  background: black;
  /*padding-top: 10em;*/
}

.sect-html {
  background: url('../../images/gifs/pug.gif') no-repeat left bottom;
  background-size: 105%;  
}

.sect-boxes {
  background: url('../../images/gifs/pizza.gif') no-repeat 0 0;
  background-size: 105%;
}

.sect-boxmath {
  background: url('../../images/gifs/JGnope.gif') no-repeat -8em 0;
  background-size: 140%;
}

.sect-naming {
  background: url('../../images/gifs/jlawyeah.gif') no-repeat -8em 0;
  background-size: 140%;
}

.sect-basicpage {
  background: url('../../images/gifs/whoselinedance.gif') no-repeat 0 0;
  background-size: 100%;
}

.sect-makeup {
  background: url('../../images/gifs/makeup.gif') no-repeat 0 -6em;
  background-size: 100%;
}

.sect-dayoneend {
  background: url('../../images/gifs/indyswitch.gif') no-repeat 0 0;
  background-size: 108%;
}

.sect-float {
  background: url('../../images/gifs/hovercat.gif') no-repeat 0 0;
  background-size: 100%;
}

.sect-tryit {
  background: url('../../images/gifs/drwhoblegh.gif') no-repeat 0 0;
  background-size: 102%;
}

.sect-float1 {
  background: url('../../images/gifs/elifail.gif') no-repeat 0 0;
  background-size: 102%;
}

.sect-float2 {
  background: url('../../images/gifs/simbanala.gif') no-repeat 0 0;
  background-size: 102%;
}

.sect-float3 {
  background: url('../../images/gifs/whaaa_pigtailgirl.gif') no-repeat -4em 0;
  background-size: 123%;
}

.sect-float4 {
  background: url('../../images/gifs/NFwut.gif') no-repeat left top;
  background-size: 100%;
}

.sect-float5 {
  background: url('../../images/gifs/parkingswag.gif') no-repeat left bottom;
  background-size: 100%;
}

.sect-float6 {
  background: url('../../images/gifs/roncomputer.gif') no-repeat left top;
  background-size: 100%;
}

.sect-float7 {
  background: url('../../images/gifs/gollumconfused.gif') no-repeat center center;
  background-size: 100%;
}

.sect-layout {
  background: url('../../images/gifs/buzzeyes.gif') no-repeat left top;
  background-size: 100%;
  padding-top: 26em;
}

.sect-cssomg {
  background: url('../../images/gifs/css.gif') no-repeat center center;
  background-size: 60%;
}

.sect-css {
  background: url('../../images/gifs/excitedcarbaby.gif') no-repeat 0 0;
  background-size: 110%;
  padding-top: 26em
}

.sect-specificity {
  background: url('../../images/gifs/squirrel.gif') no-repeat 0 -6em;
  background-size: 100%;
}

.sect-css2 {
  background: url('../../images/gifs/css.gif') no-repeat 0 -6em;
  background-size: 100%;
}

.sect-pretty2 {
  background: url('../../images/gifs/davatronhimself.gif') no-repeat 0 -6em;
  background-size: 100%;
}

.sect-pics {
  background: url('../../images/gifs/googlyeyes.gif') no-repeat 0 0;
  background-size: 120%;
  padding-top: 26em
}

.sect-sass {
  background: url('../../images/gifs/sciencedino.gif') no-repeat center center;
  background-size: 120%;
}

.sect-end {
  background: url('../../images/gifs/sadbaby.gif') no-repeat 0 -6em;
  background-size: 100%;
}
